@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans';
	margin: 0 auto;
	text-align: center;
	color: #3E4148;
}


h1 {
	text-align: center;
}

h3 {
	margin-bottom: 10px;
}

table {
	text-align: left;
	margin: 0 auto;
}

.tableStyle td,  .tableStyle th{
	border:1px solid #CCCCCC;
	padding: 4px;
	text-align: center;
}

.tableStyle th, .customButton {
	background-color: #914851;
	color: #FFF;
	text-align: center;
}

a {
	color: #969696;
	text-decoration: none;
}


.navigation a {
	color: #FFF;
	text-decoration: none;
	padding:5px;
}

a:hover {
	transition: 500ms ease-in-out;
	opacity: 0.8;
}

.navigation {
	background-color: #536676;
	padding: 5px;
	width: 100%;
	height: 40px;	
	line-height: 40px;
}

#recommendations table {
	width: 70%;
	margin: 0 auto;
}

#home input[type="text"], #home input[type="number"] {
	width: 130px;
}

#home select {
	width: 136px;
}

.flightsData {
	margin: 0 auto;
	width: 80%;
}

.flightsData h2 {
	margin-bottom: 6px;
	color: #914851;
}

.customButton {
	font-size: 15px;
	border: none;
	display: inline-block;
	padding: 7px;
	color: #FFF;
	margin: 0 auto;
	margin-top: 6px;
	border-radius: 5px;
}

.customButton a {
	color: #FFF;
}

.customButton:hover {
	background-color: #536676;
	transition: 450ms ease-out;
}

.customButton a:hover {
	opacity:1;

}