@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans';
	margin: 0 auto;
}

h1 {
	text-align: center;
}

table {
	margin: 0 auto;
}

a {
	color: #4B5770;
	text-decoration: none;
}
.navigation a {
	color: #FFF;
	text-decoration: none;
}

.navigation {
	text-align: center;
	background-color: #4C586F;
	padding: 5px;
}

